@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.header{
    height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D3D7DA;
    position: relative;
}

.header-left{
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-img{
    width: 100px;
    border-radius: 20px;
}

.header-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.brandname{
    font-weight: 200;
    font-size: 2.5rem;
    margin: 0;
    letter-spacing: 3px;
}

.brandname a{
    text-decoration: none;
    color: #000;
}

.header-right{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 1rem;
}

.nav a{
    margin-left: 15px;
    text-decoration: none;
    color: #000;
}

.nav a:hover, .nav a:focus{
    text-decoration: underline;
    color: #666;
}

.site-header {
    border-bottom: 1px solid #D3D7DA;
    font-family: "Playfair Display", serif;
}

.container{
    margin: 0 auto;
    padding: 0 1.5rem;
}

.subheader{
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0.1rem ;
    background-color: #D3D7DA;
}

.taglist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.taglist li, .taglist a{
    white-space: nowrap;
    display: inline;
    text-decoration: none;
    color: #000;
}

.taglist a:hover, .taglist a:focus{
    text-decoration: underline;
    color: #666;
}

.hero{
    height: 70vh;
    max-height: 700px;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%;
}

.hero-text{
    position: absolute;
    bottom: 15%;
    left: 10%;
    color: #fff;
    font-family: "Manrope", sans-serif;
}

.hero-text h3{
    font-size: 3rem;
    background-color: darkslategray;
}

.hero-text p{
    font-size: 1rem;
    background-color: darkslategray;
}


.about-us {
    justify-content: center;
    display: flex;
    font-family: "Manrope", sans-serif;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.about-us h2{
    font-size: 3rem;
    font-weight: 400;
}

.about-us p{
    font-size: 1rem;
    line-height: 1.7;
    color: #555;
    margin: 0;
}


.advert{
    background-color: darkslategrey;
    font-family: "Manrope", sans-serif;
}

.ad-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.ad-text{
    color: white;
}

.ad-text h2{
    font-size: 32px;
    margin-bottom: 0.2rem;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.ad-text p{
    color: white;
    margin: 0;
}

.ad-btn{
    display: inline-block;
    padding: 0.75rem 2rem;
    border: solid, 1px, white;
    outline-offset: 1px, white, solid;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.ad-btn:hover{
    background-color: lightseagreen;
    transform: translateY(-2px);
}

.features {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: "Manrope", sans-serif;
}

.section-title {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: #4A1C1C;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.scroll-container {
    display: flex;      
    overflow-x: auto;    
    gap: 15px;           
    padding-bottom: 1rem; 
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; 
}

.scroll-container::-webkit-scrollbar {
    height: 8px;
}
.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.scroll-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.product-card {
    flex: 0 0 250px; 
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    background-color: #fff;
}

.image-box {
    width: 100%;
    height: 350px; 
    background-color: #f9f4f0; 
    border-bottom: 1px solid #eee;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: top; 
}

.card-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.product-name {
    font-size: 0.9rem;
    color: #333;
    margin: 0 0 1rem 0;
    line-height: 1.4;
    height: 2.8em; 
    overflow: hidden;
}

.price-row {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #000;
    font-weight: 600;
    margin-top: auto; 
}

