@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



.header{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 100;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}